doctype html
html
	head
		title LoginApp
		link( rel="stylesheet" href="/css/bootstrap.css")
		link( rel="stylesheet" href="/css/style.css")
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/main.js')
	body
		div(class="container")
			div(class="header clearfix")
				nav
					ul( class="nav nav-pills pull-right")
						li( role="presentation")
							a( href="/") Articles
						if user
							li( role="presentation")
								a( href="/add") Add Article
							li( role="presentation")
								a( href="/users/logout") Logout
						else
							li( role="presentation")
								a( href="/users/login") Login
							li( role="presentation")
								a( href="/users/register") Register	
						
						
				h3( class="text-muted") LoginApp
			div( class="row marketing")
				div( class="col-lg-12")
					!= messages('message',locals)
					if errors
						each error, i in errors
							div(class='alert alert-danger') #{error.msg}
					block content
			footer( class="footer")
				p &copy; 2017 LoginApp, Inc.